In [1]:
#importaciones
import datetime as datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mpldates

In [15]:
#lectura de datos

auctions = pd.read_csv('data/auctions.csv', low_memory=False)
clicks = pd.read_csv('data/clicks.csv', low_memory=False)
events = pd.read_csv('data/events.csv', low_memory=False)
installs = pd.read_csv('data/installs.csv', low_memory=False)
target = pd.read_csv('data/target_competencia.csv', low_memory=False)

In [5]:
# Empecemos por explorar auctions

auctions.describe(include='all')

,auction_type_id,country,date,device_id,platform,ref_type_id,source_id
count,0.0,1.957132e+07,19571319,1.957132e+07,1.957132e+07,1.957132e+07,1.957132e+07
unique,NaN,NaN,19570963,NaN,NaN,NaN,NaN
top,NaN,NaN,2019-03-11 00:11:12.183865,NaN,NaN,NaN,NaN
freq,NaN,NaN,2,NaN,NaN,NaN,NaN
mean,NaN,6.333597e+18,NaN,4.599151e+18,1.205888e+00,2.235326e+00,6.857898e-01
std,NaN,3.481600e+04,NaN,2.667138e+18,4.043488e-01,2.426093e+00,1.416215e+00
min,NaN,6.333597e+18,NaN,1.138588e+14,1.000000e+00,1.000000e+00,0.000000e+00
25%,NaN,6.333597e+18,NaN,2.258716e+18,1.000000e+00,1.000000e+00,0.000000e+00
50%,NaN,6.333597e+18,NaN,4.616600e+18,1.000000e+00,1.000000e+00,0.000000e+00
75%,NaN,6.333597e+18,NaN,6.911427e+18,1.000000e+00,1.000000e+00,1.000000e+00
max,NaN,6.333597e+18,NaN,9.223339e+18,2.000000e+00,7.000000e+00,6.000000e+00

In [6]:
auctions.sample(5)

,auction_type_id,country,date,device_id,platform,ref_type_id,source_id
6341321,NaN,6333597102633388268,2019-03-13 12:32:09.448142,7874744587352105636,1,1,0
9751812,NaN,6333597102633388268,2019-03-07 04:46:19.921374,5813422954639848970,1,1,0
18769802,NaN,6333597102633388268,2019-03-08 02:54:22.554102,8838089515471455768,1,1,0
29582,NaN,6333597102633388268,2019-03-07 14:16:28.657262,2914266619953795534,1,1,5
17416869,NaN,6333597102633388268,2019-03-12 23:50:47.571938,6981321136322815131,2,7,1

In [7]:
clicks.describe()

,advertiser_id,action_id,source_id,country_code,latitude,longitude,carrier_id,os_minor,agent_device,os_major,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash
count,26351.000000,0.0,26351.000000,2.635100e+04,26351.000000,26351.000000,26340.000000,2.633900e+04,3.243000e+03,2.633900e+04,2.635100e+04,6235.000000,22977.000000,23011.000000,23011.000000,2.635100e+04,2.635100e+04
mean,2.991993,NaN,1.245266,6.333597e+18,1.206906,1.070233,7.743812,4.635375e+18,4.171028e+18,3.913451e+18,1.299055e+18,1.482277,230.403309,0.638784,1.478656,1.888100e+18,4.611581e+18
std,0.164070,NaN,2.188948,1.024019e+03,0.004484,0.001896,7.017027,1.642969e+18,2.460496e+18,1.885866e+18,1.149672e+18,1.583764,976.849149,0.301983,2.622727,1.721252e+17,2.673175e+18
min,0.000000,NaN,0.000000,6.333597e+18,1.205058,1.058204,0.000000,6.666626e+17,4.513618e+16,7.436481e+17,3.921844e+17,0.000000,0.017000,0.000000,0.000000,1.494519e+18,9.286192e+14
25%,3.000000,NaN,0.000000,6.333597e+18,1.205689,1.070234,3.000000,3.378640e+18,1.975183e+18,1.774085e+18,3.921844e+17,0.000000,2.915000,0.426000,0.183000,1.891515e+18,2.273798e+18
50%,3.000000,NaN,0.000000,6.333597e+18,1.205689,1.070234,6.000000,3.511538e+18,3.516812e+18,3.072849e+18,3.921844e+17,1.000000,10.588000,0.726000,0.645000,1.891515e+18,4.623721e+18
75%,3.000000,NaN,1.000000,6.333597e+18,1.205689,1.070234,13.000000,6.391567e+18,6.589622e+18,4.566454e+18,2.733036e+18,2.000000,71.703000,0.901000,0.991000,1.891515e+18,6.917850e+18
max,8.000000,NaN,10.000000,6.333597e+18,1.237861,1.085358,116.000000,9.081082e+18,9.221733e+18,7.499732e+18,8.930605e+18,13.000000,17616.188000,1.000000,16.600000,6.323872e+18,9.221118e+18

In [8]:
clicks.sample(5)

,advertiser_id,action_id,source_id,created,country_code,latitude,longitude,wifi_connection,carrier_id,trans_id,os_minor,agent_device,os_major,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash
2331,3,NaN,5,2019-03-08T01:32:08.393Z,6333597102633388268,1.205689,1.070234,False,15.0,vj-_xZ4loLQNBO1bPAQULWDUeUjL-ME,3.378640e+18,NaN,4.566454e+18,2733035977666442898,NaN,0.463,0.289,0.961,1891515180541284343,2303726677675973466
7031,3,NaN,1,2019-03-09T08:28:42.549Z,6333597102633388268,1.205689,1.070234,False,18.0,su8YijEI8ibLMXTOGM4SHXBnh3weXcg,3.025219e+18,NaN,1.774085e+18,3855167788531275156,NaN,2.064,0.993,0.051,1891515180541284343,1410086226262995382
22831,3,NaN,6,2019-03-12T20:11:16.937Z,6333597102633388268,1.217111,1.059728,False,14.0,DgsK98_m_uOp6g0W-MqaPCWa5yz47HU,3.025219e+18,NaN,1.774085e+18,2733035977666442898,0.0,0.346,0.689,0.794,1891515180541284343,7830942922952956298
21917,3,NaN,1,2019-03-12T02:59:54.746Z,6333597102633388268,1.205689,1.070234,False,10.0,BgUAPhDm3egkUjEr5nvQjosegDSTLhE,6.391567e+18,NaN,7.452406e+18,2733035977666442898,1.0,2331.173,0.748,0.608,1891515180541284343,1085830794617697973
25239,3,NaN,0,2019-03-12T14:53:16.321Z,6333597102633388268,1.205689,1.070234,False,3.0,GPrEal2cZTsga8hFhx2etgoP701MFQ8,3.378640e+18,NaN,4.566454e+18,392184377613098015,NaN,12.961,0.082,0.447,1891515180541284343,1671207707280147608

In [6]:
auctions.sample(5)

,auction_type_id,country,date,device_id,platform,ref_type_id,source_id
6341321,NaN,6333597102633388268,2019-03-13 12:32:09.448142,7874744587352105636,1,1,0
9751812,NaN,6333597102633388268,2019-03-07 04:46:19.921374,5813422954639848970,1,1,0
18769802,NaN,6333597102633388268,2019-03-08 02:54:22.554102,8838089515471455768,1,1,0
29582,NaN,6333597102633388268,2019-03-07 14:16:28.657262,2914266619953795534,1,1,5
17416869,NaN,6333597102633388268,2019-03-12 23:50:47.571938,6981321136322815131,2,7,1

In [16]:
events.describe()

,event_id,ref_type,ref_hash,application_id,device_countrycode,device_os_version,device_brand,device_model,device_city,session_user_agent,user_agent,carrier,kind,device_os,ip_address,device_language
count,2.494423e+06,2.494423e+06,2.494423e+06,2.494423e+06,2.494423e+06,1.022066e+06,1.164963e+06,2.406456e+06,6.146980e+05,2.482637e+06,1.391527e+06,6.164340e+05,2.489324e+06,6.576670e+05,2.494423e+06,2.406604e+06
mean,9.970445e+01,1.794164e+18,4.641486e+18,9.910934e+01,6.333597e+18,4.986001e+18,1.633891e+18,4.478847e+18,3.832628e+18,4.719312e+18,4.856492e+18,1.470186e+18,5.364362e+18,7.251101e+18,4.620786e+18,5.865447e+18
std,1.070903e+02,1.707944e+17,2.660724e+18,5.780986e+01,1.024000e+03,2.394834e+18,1.626674e+18,2.718014e+18,8.166911e+17,1.769561e+18,2.487552e+18,2.575962e+18,2.242979e+18,5.247066e+17,2.672746e+18,2.281192e+18
min,0.000000e+00,1.494519e+18,1.633675e+14,0.000000e+00,6.333597e+18,1.004084e+16,7.949737e+16,9.530216e+14,4.355428e+16,5.527631e+15,5.072532e+15,2.248157e+17,7.758270e+16,2.748831e+18,5.287755e+12,2.025809e+16
25%,2.200000e+01,1.891515e+18,2.326142e+18,6.300000e+01,6.333597e+18,4.353750e+18,3.083059e+17,2.331947e+18,3.800080e+18,3.819516e+18,2.723465e+18,2.248157e+17,4.647949e+18,6.941825e+18,2.333410e+18,3.301378e+18
50%,3.100000e+01,1.891515e+18,4.688964e+18,6.600000e+01,6.333597e+18,4.353750e+18,5.137992e+17,4.430579e+18,3.800080e+18,3.819516e+18,5.022936e+18,2.248157e+17,5.500848e+18,7.531669e+18,4.541498e+18,6.804428e+18
75%,1.610000e+02,1.891515e+18,6.927594e+18,1.450000e+02,6.333597e+18,7.391844e+18,2.987569e+18,6.882415e+18,3.800080e+18,7.164321e+18,6.840860e+18,1.179587e+18,6.169667e+18,7.531669e+18,7.044307e+18,6.977049e+18
max,7.120000e+02,1.891515e+18,9.223316e+18,3.220000e+02,6.333597e+18,9.135482e+18,9.178260e+18,9.222450e+18,9.205669e+18,9.220949e+18,9.223277e+18,9.182957e+18,9.215473e+18,7.531669e+18,9.223367e+18,9.187882e+18

In [17]:
events.sample(5)

,date,event_id,ref_type,ref_hash,application_id,attributed,device_countrycode,device_os_version,device_brand,device_model,...,trans_id,user_agent,event_uuid,carrier,kind,device_os,wifi,connection_type,ip_address,device_language
1068377,2019-03-07 07:29:30.135,133,1891515180541284343,7022130081297835933,102,False,6333597102633388268,NaN,3.812621e+18,7.543907e+18,...,NaN,4.686404e+18,60bd1655-cb58-4d8e-b548-e87a6fabf125,NaN,8.569826e+18,NaN,True,NaN,3545227643866874438,6.977049e+18
681676,2019-03-06 18:26:19.445,158,1891515180541284343,1512125245320852267,63,False,6333597102633388268,NaN,2.987569e+18,6.026543e+18,...,NaN,2.495805e+18,90c7558e-f2bb-40b2-8104-24d14cc6ed89,NaN,6.514208e+18,NaN,True,NaN,644417729796771291,6.977049e+18
2055630,2019-03-05 17:01:44.848,162,1891515180541284343,2061374194196066620,64,False,6333597102633388268,8.913930e+18,NaN,2.130132e+18,...,NaN,NaN,9d571d7d-35bb-4437-a893-6fbbb9d12c82,2.248157e+17,3.209078e+18,7.531669e+18,NaN,Cable/DSL,9057715641708355250,3.301378e+18
609249,2019-03-11 17:08:59.924,23,1494519392962156891,294527178243683960,39,False,6333597102633388268,NaN,NaN,2.331947e+18,...,NaN,5.930547e+18,aa3b05b9-0d26-4f68-af16-689e59778cf0,NaN,5.059134e+18,NaN,True,NaN,6514065511762926601,1.526421e+18
1816852,2019-03-05 01:29:10.937,91,1891515180541284343,2719239200486999996,32,False,6333597102633388268,8.840146e+18,NaN,2.900874e+18,...,NaN,NaN,76a5517f-4ef6-4f1e-b28a-f3fa98d1c59f,2.248157e+17,5.358745e+18,7.531669e+18,NaN,Cable/DSL,7858558567428669000,4.077062e+17

In [11]:
installs.describe()

,application_id,ref_type,ref_hash,click_hash,device_countrycode,device_brand,device_model,ip_address,device_language
count,3412.000000,3.412000e+03,3.412000e+03,0.0,3.412000e+03,1.047000e+03,3.411000e+03,3.412000e+03,3.378000e+03
mean,10.247655,1.736533e+18,4.598202e+18,NaN,4.764401e+18,1.877864e+18,4.245276e+18,4.562040e+18,4.915828e+18
std,6.016194,1.936976e+17,2.663828e+18,NaN,1.678051e+18,1.886461e+18,2.620844e+18,2.683422e+18,2.477019e+18
min,0.000000,1.494519e+18,4.958527e+15,NaN,2.970471e+18,3.083059e+17,5.112505e+16,7.118754e+15,1.101539e+17
25%,7.000000,1.494519e+18,2.268353e+18,NaN,2.970471e+18,3.083059e+17,2.331947e+18,2.249197e+18,3.301378e+18
50%,9.000000,1.891515e+18,4.603807e+18,NaN,6.333597e+18,2.208835e+18,2.983638e+18,4.436113e+18,3.301378e+18
75%,10.000000,1.891515e+18,6.912404e+18,NaN,6.333597e+18,2.523246e+18,6.882415e+18,7.017564e+18,6.977049e+18
max,36.000000,1.891515e+18,9.218934e+18,NaN,6.333597e+18,9.169527e+18,9.222450e+18,9.221950e+18,9.028383e+18

In [12]:
installs.sample(5)

,created,application_id,ref_type,ref_hash,click_hash,attributed,implicit,device_countrycode,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,trans_id,ip_address,device_language
2607,2019-03-10 13:10:03.546,7,1891515180541284343,5783525239940061844,NaN,False,False,2970470518450881158,NaN,1.540907e+18,adjust.com,NaN,NaN,NaN,NaN,NaN,3986411732516987184,3.301378e+18
1338,2019-03-13 15:45:33.897,9,1494519392962156891,8050208623296897388,NaN,False,False,6333597102633388268,NaN,2.331947e+18,http-kit/2.0,MercadoPago/2.59.0.1 CFNetwork/976 Darwin/18.2.0,NaN,NaN,True,NaN,127764721334919589,4.621024e+18
1051,2019-03-09 21:43:58.475,10,1891515180541284343,7283951349175423097,NaN,False,True,6333597102633388268,3.083059e+17,5.165982e+18,http-kit/2.0,Dalvik/2.1.0 (Linux; U; Android 5.1.1; SM-J105...,fcc8c171-2804-4a3b-b3fe-b4c43f928c0e,af_app_opened,True,NaN,6324037615828123965,6.977049e+18
3152,2019-03-11 14:27:29.442,29,1891515180541284343,3912944550472324016,NaN,False,True,2970470518450881158,NaN,7.240573e+18,adjust.com,NaN,f69b59fb-36d4-4252-a8fa-60cb33564e55,app_open,NaN,NaN,8832818479929495156,3.301378e+18
1854,2019-03-06 15:40:06.920,7,1891515180541284343,9132936877086141285,NaN,False,False,2970470518450881158,NaN,6.882415e+18,adjust.com,NaN,NaN,NaN,NaN,NaN,3663996124193425002,3.301378e+18

In [13]:
target.describe()

            index      ref_hash  obj_Sc  obj_St
count  235.000000  2.350000e+02   235.0   235.0
mean   117.000000  4.487014e+18     0.0     0.0
std     67.982841  2.557691e+18     0.0     0.0
min      0.000000  1.378981e+17     0.0     0.0
25%     58.500000  2.445722e+18     0.0     0.0
50%    117.000000  4.278916e+18     0.0     0.0
75%    175.500000  6.324192e+18     0.0     0.0
max    234.000000  9.135857e+18     0.0     0.0

In [14]:
target.sample(5)

     index      ref_hash  obj_Sc  obj_St
132    132  4.676263e+18       0       0
87      87  3.362055e+18       0       0
101    101  3.822446e+18       0       0
141    141  5.321315e+18       0       0
207    207  8.108487e+18       0       0